$color-primary: #56cbfc;
$color-primary-dark: #3da5ff;
$color-dark: #151b1f;
$color-light: #24282b;
$color-white: #ffffff;
$color-off-white: #e7e7e7;

$bg-light: #f7fbff;
$bg-dark: #0c1012;

$base-font: "Titillium Web", sans-serif;
$heading-font: "Tomorrow", sans-serif;
